<%- include("partials/header") %> 

<div class="container">
    <!-- <div class="jumbotron"> -->
        <div class="background-container">
            <p><h1><b>Benvinguts a la comunitat</b></h1></p>
            <br>
            
        </div>
        <p style="text-align: center;margin-top: 2%;">
            <a class="btn btn-lg btn-primary" href="/FoodUp">Explora</a></p>
    <!-- </div> -->
</div>

<%- include("partials/footer") %>
